<!-- 
<footer class="background-gray accent-padding">
  <div class="flex-container-no jes">
    <section class="flex-container-no jes">
    <ul>
      <li>Our Story</li>
      <li>Live Feed</li>
      <li>FAQ</li>
      <li>Privacy Policy</li>
    </ul>
    <ul>
      <li>Men's</li>
      <li>Women's</li>
      <li>Kid's</li>
      <li>Giving</li>
    </ul>
  </section>
    <img src="{{'pacas.png' | asset_url}}" class="jlogo" />
    <section>
      <form action="https://manage.kmail-lists.com/subscriptions/subscribe?g=Buguta" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                  <input type="email" value="" name="EMAIL" class="required email email_update border-white" id="mce-EMAIL" placeholder="sign up for exclusive deals">
                  <input type="submit" class="submit"value="go" name="subscribe" id="mc-embedded-subscribe">
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response"></div>
                    <div class="response" id="mce-success-response"></div>
                  </div>
              </form>
      <div class="social-icons tac">
        <a href="" target="_blank"><img src="{{'fb.png' | asset_url}}" alt="Facebook" /></a>
        <a href="" target="_blank"><img src="{{'pinterest.png' | asset_url}}" alt="Pinterest" /></a>
        <a href="" target="_blank"><img src="{{'ig.png' | asset_url}}" alt="Instagram" /></a>
         <a href="" target="_blank"><img src="{{'twitter.png' | asset_url}}" alt="Twitter" /></a>
      </div>
    </section>
  </div>
  <p class="subscript tac nmt">© 2019 All Rights Reserved</p>
</footer>
 -->