<section class="page-header" id="atf">
  <div id="header-spreader">
  <h1 class="text-white ttu nm"><em>Cozy Fleece</em></h1>
  <h2 class="accent text-white nm tac"><em>to</em></h2>
  <h1 class="text-white ttu nm tar"><em>Comfy Feet</em></h1>
  <h2 class="accent text-white nm tar"><em>in 60 days</em></h2>
  <div class="tac">
    <div class="ib cta">
      <h3 class="text-white">Shop Women</h3>
    </div>
    <div class="ib cta"> 
      <h3 class="text-white">Shop Men</h3>
    </div>
  </div>
</div>
</section>
<video class="fw" loop autoplay muted>
  <source src="{{'alpacas_gif.mp4' | asset_url}}" type="video/mp4">
</video>
  <h2 class="accent tac">Alpaca Fleece <img src="{{'greater-than.png' | asset_url}}" class="great-than" /> Sheep Wool</h2>
<section id="comparison" class="accent-padding">
  <h3 class="ib" id="warmer">7x warmer</h3>
  <h3 class="ib" id="hypo">Hypoallergenic</h3>
  <h3 class="ib" id="soft">Super Soft</h3>
  <h3 class="ib" id="quality">Quality</h3>
  <h3 class="ib" id="thermoregulating">Thermoregulating</h3>
  <h3 class="ib" id="warm">Warm</h3>
  <h3 class="ib" id="quantity">Quantity</h3>
  <h3 class="ib" id="thermo">Thermoregulating</h3>
</section>
<section class="flex-container-no" id="give-the-gift">
  <div class="tac inner">
    <img src="{{'' | asset_url}}" />
    <h2 class="text-white nm">Give the Gift of <span class="accent">Comfort</span> and <span class="accent">Warmth</span></h2>
    <p class="text-white nmt">Percentage of profits are used to dress pediatric cancer patiens in<br> hospitals. We make you warm, you maek them warm.</p>
    <div class="button border-white ib">
      <p class="text-white nm">read more</p>
    </div>
  </div>
</section>
<section class="flex-container-no accent-section">
  <div class="tac two-thirds">
    <h3 class="nmb">"Worlds most comfortable sock... it<br> almost feels like butter!"</h3>
    <h4 class="nmt">- Chicago Times</h4>
    <h4 class="ib cta">Casual</h4>
    <h4 class="ib cta">Athletic</h4>
  </div>
  <img src="{{'sock-prev.png' | asset_url}}" id="sock-prev"/>
    <img src="{{'greater-than.png' | asset_url}}" class="great-than"/>

</section>
<section class="accent-section flex-container">
  <div class="flex-container-no half jcc" id="fresh">
    <div class="tac fw">
      <h2 class="text-white accent nm">Fresh Off the Fleece</h2>
      <p class="text-white nm">Check out our Alpaca Farms</p>
    </div>
    <p class=" text-white" id="farms">Castro | Garcia | Lopez | Alvarez </p>
  </div>
  <div class="flex-container-no half jcc" id="index-shop-cta">
    <h2 class="text-white accent">Shop</h2>
  </div>
</section>
