<div id="index-page">
  <section class="flex-container-no background-gray" id="atf">
    <div class="half accent-padding">
      <h1 class="ttu nm text-white">The Prep In Performance</h1>
      <p class="nmt text-white">As summer heats up, our PREP-FORMANCE Polos are ready to cool you down</p>
      <div class="button background-navy text-white ttu"><span>Shop Now</span></div>
    </div>
    <div class="half do"></div>
  </section>
  <section class="flex-container highlight">
    <div class="half spacer-right spacer-left tac">
      <img src="{{'placeholder.png' | asset_url}}" class="fw" />
      <h3 class="ttu">We're Jumping In</h3>
      <p>Our quick-dry swim in exclusive patterns</p>
      <p><a href="/" class="ttu">Shop Now</a></p>
    </div>
     <div class="half tac spacer-right">
      <img src="{{'placeholder.png' | asset_url}}" class="fw" />
      <h3 class="ttu">Where it all started</h3>
      <p>The foundation of who we are: soft cotton polos in the best fits around</p>
      <p><a href="/" class="ttu">Shop Polos</a></p>
    </div> 
  </section>
  <section class="flex-container highlight" id="press-quote">
    <div class="half spacer-right spacer-left" id="product-detail-image"></div>
    <div class="half spacer-right flex-container-no">
      <div>
        <h3>"Is it appropriate to undo two shirt buttons at work? Why decide. That's the reason John O'Donnell created the Tweener Button for his shirt line, johnni-O."</h3>
        <h3>- The Wall Street Journal</h3>
      </div>
    </div>
  </section>
  <section id="featured-catalog" class="flex-container-no jcc accent-padding">
    <div id="catalog-cta" class="tac">
      <h1 class="text-white ttu nmt">Summer Shirts: Tweener Button Included</h1>
      <div class="button background-navy text-white ttu ma"><span>Shop Now</span></div>
    </div>
  </section>
  <section class="spacer-bottom flex-container highlight">
    <div class="half spacer-right spacer-left tac">
      <img src="{{'placeholder.png' | asset_url}}" class="fw" />
      <h3 class="ttu">Eliminate Your Short Shortage</h3>
      <p><a href="/" class="ttu">Shop Now</a></p>
    </div>
    <div class="half tac spacer-right">
      <img src="{{'placeholder.png' | asset_url}}" class="fw" />
      <h3 class="ttu">Baseball Season in Full Swing</h3>
      <p><a href="/" class="ttu">Shop Polos</a></p>
    </div> 
  </section>
  <section class="spacer-bottom flex-container highlight">
    <div class="half spacer-right spacer-left tac">
      <img src="{{'placeholder.png' | asset_url}}" class="fw" />
      <h3 class="ttu">Summer & Beyond Layers</h3>
      <p><a href="/" class="ttu">Shop Now</a></p>
    </div>
    <div class="half tac spacer-right">
      <img src="{{'placeholder.png' | asset_url}}" class="fw" />
      <h3 class="ttu">School's Out, Fun's In</h3>
      <p><a href="/" class="ttu">Shop Polos</a></p>
    </div> 
  </section>
  <section id="featured-products">
    <h1 class="tac ttu">Just For You</h1>
    <div class="flex-container-no">
      <div class="quarter">
        <img src="{{'placeholder.png' | asset_url}}" class="fw" />
        <h4 class="nmb">Product Title</h4>
        <p class="nmt">Product Price</p>
      </div>
      <div class="quarter">
        <img src="{{'placeholder.png' | asset_url}}" class="fw" />
        <h4 class="nmb">Product Title</h4>
        <p class="nmt">Product Price</p>
      </div>
      <div class="quarter">
        <img src="{{'placeholder.png' | asset_url}}" class="fw" />
        <h4 class="nmb">Product Title</h4>
        <p class="nmt">Product Price</p>
      </div>
      <div class="quarter">
        <img src="{{'placeholder.png' | asset_url}}" class="fw" />
        <h4 class="nmb">Product Title</h4>
        <p class="nmt">Product Price</p>
      </div>
      {% comment %}
      <!-- this wil be the above code with the product catalog actually exists, hardcoding for now for proof of concept -->
        {% for product in featured-collection.products %}
          <div class="quarter">
            <img src="{{product.featured_image}}" class="fw" />
            <h5>{{product.title}}</h5>
            <p>{{product.price}}</p>
          </div>
        {% endfor %}
      {% endcomment %}
  </section>
</div>
